<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/pantalla-falso-2.css">
    <title>Verdadero o falso ODS 5</title>
</head>

<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap" rel="stylesheet">
    <div class="container">
    </div>

    <header>
        <h1>Segunda afirmación</h1>
        <div class="titulo">
        <a href= "pantalla-inicio.html"><img src="../img/fotos/logo-inicio.png" id="logo-inicio"></a>
        </div>
    </header>
    <main>
        <h2>El ODS 5 puede relacionarse con el ODS 1 (pobreza) y el ODS 8 (trabajo).</h2>
        <div class="afirmacion">
        </div>
        <a href="#" class="btn-incorrecto">Incorrecto</a>
        <div class="fundamentacion">
            <p class="desarrollo-texto">Todos los ODS son interdependientes entre sí pero estos dos en específico son indispensables para la mujer.</p>
        </div>
        <div class="puntaje">
            <p class="puntaje-texto">x/12</p>
        </div>
    </main>
    <footer>
        <a href="pantalla-resultados.html" class="btn-siguiente">Siguiente</a>
    </footer>

</body>

</html>