<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/pantalla-verdadero-1.css">
    <title>Verdadero o falso ODS 5</title>
</head>

<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap" rel="stylesheet">
    <div class="container">
    </div>

    <header>
        <h1>Primera afirmación</h1>
        <div class="titulo">
        <a href= "pantalla-inicio.html"><img src="../img/fotos/logo-inicio.png" id="logo-inicio"></a>
        </div>
    </header>
    <main>
        <h2>Hoy en día el ODS 5 es importante.</h2>
        <div class="afirmacion">
        </div>
        <a href="#" class="btn-correcto"> Correcto! </a>
        <div class="fundamentacion">
            <p class="desarrollo-texto">Actualmente es fundamental para que la mujer tenga la oportunidad de desenvolverse como una ciudadana en nuestra sociedad; garantizándole una vida digna.</p>
        </div>
        <div class="puntaje">
            <p class="puntaje-texto">x/12</p>
        </div>
    </main>
    <footer>
        <a href="segunda-afirmacion.html" class="btn-siguiente">Siguiente</a>
    </footer>

</body>

</html>