<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/primera-afirmacion.css">
    <title>Verdadero o falso ODS 5</title>
</head>

<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap" rel="stylesheet">
    <div class="container">
    </div>

    <header>
        <h1>Primera afirmación</h1>
        <div class="titulo">
            <a href= "pantalla-inicio.html"><img src="../img/fotos/logo-inicio.png" id="logo-inicio"></a>
        </div>
    </header>
    <main>
        <h2>Hoy en día el ODS 5 es importante.</h2>
        <div class="afirmacion">
        </div>
        <div class="imagen">
            <img src="../img/fotos/imagen-1.jpg" id= "imagen-1">
        </div>
    </main>
    <footer>
        <a href="pantalla-verdadero-1.html" class="btn-verdadero">VERDADERO</a>
        <a href="pantalla-falso-1.html" class="btn-falso">FALSO</a>
    </footer>

</body>

</html>