body {
  font-family: 'Raleway', sans-serif;
  margin-left:15%;
}

.container {
  background-color: #fdebd3;
  padding: 40px;
  margin: auto;
  width: 1110px;
  height: 820px;
  position: absolute;
}

h1 {
  font-size: 370%;
  margin-top: 100px;
  margin-left:330px;
  position: absolute;
  z-index: 1;  
}

.titulo {
  background-color: #bbd4ce;
  padding: 40px;
  margin: auto 0px;
  width: 1110px;
  height: 200px;
  position: absolute;
}

#logo-inicio {
  width:50px;
  height:50px;
}

h2 {
  font-size: 300%;
  margin: auto 200px;
  margin-top: 300px;
  position: absolute;
  z-index: 1;
  color:#515151;
}

.btn-correcto{
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 30px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  margin: auto;
  margin-top: 430px;
  margin-left: 400px;
  position: absolute;
}

.afirmacion {
  background-color:#f9b4ab;
  padding: 40px;
  margin: auto;
  margin-top: 260px;
  width: 1110px;
  height: 60px;
  position: absolute;
}

.fundamentacion {
  padding: 40px;
  margin: auto;
  margin-top: 520px;
  width: 1110px;
  height: 60px;
  position: absolute;
}

.puntaje {
  background-color:white;
  border: 1px solid black;
  padding: 40px;
  margin-top: 690px;
  margin-left:480px;
  width: 150px;
  height: 30px;
  border-radius: 7px;
  position: absolute;
}

.desarrollo-texto{
  font-size: 125%;
  margin: auto 15px;
  position: absolute;
  z-index: 1;
  line-height: 30px;
}

.btn-siguiente{
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  margin: auto;
  margin-top: 830px;
  margin-left: 1000px;
  position: absolute;
}

.puntaje-texto{
  font-size: 200%;
  margin: auto 45px;
  position: absolute;
  z-index: 1;
  line-height: 30px;
}








