body {
  font-family: sans-serif;
  margin-left:10%;
}

.container {
  background-color: #dddddd;
  padding: 40px;
  margin: auto;
  width: 1110px;
  height: 820px;
  position: absolute;
}

h1 {
  font-size: 370%;
  margin-top: 100px;
  margin-left: 310px;
  position: absolute;
  z-index: 1;  
}

.titulo {
  background-color: #f9b4ab;
  padding: 40px;
  margin: auto 0px;
  margin-top: 15px;
  width: 1110px;
  height: 150px;
  position: absolute;
}

h2 {
  font-size: 300%;
  margin: auto 170px;
  margin-top: 300px;
  position: absolute;
  z-index: 1;
  color:#515151;
}

p {
  margin: auto 10px;
  margin-top: 340px;
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: fit-content(1170px) fit-content(1170px) 1fr;
  grid-gap: 5px;
  line-height: 30px;
}

.afirmacion {
  background-color: #fdebd3;
  padding: 40px;
  margin: auto;
  margin-top: 260px;
  width: 1110px;
  height: 60px;
  position: absolute;
}

.imagen {
  background-color: #679186;
  padding: 40px;
  margin: auto;
  margin-top: 420px;
  width: 1110px;
  height: 280px;
  position: absolute;
}

.btn-falso{
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 30px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  margin: auto;
  margin-top: 800px;
  margin-left: 600px;
  position: absolute;
}

.btn-verdadero {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 30px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  margin: auto;
  margin-top: 800px;
  margin-left: 270px;
  position: absolute;
}

img {
  width:550px;
  height:310px;
  margin-left: 250px;
}

